################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/lib/KENDOUIMVC/2020.2.617.545
/Pampa.InSol.Biz/bin/Debug
/Pampa.InSol.Biz/obj/Debug
/Pampa.InSol.Biz.Contratos/bin/Debug
/Pampa.InSol.Biz.Contratos/obj/Debug
/Pampa.InSol.Common/obj/Debug
/Pampa.InSol.Common/bin/Debug
/Pampa.InSol.Dal.Contratos/bin/Debug
/Pampa.InSol.Dal.Contratos/obj/Debug
/Pampa.InSol.Datos/bin/Debug
/Pampa.InSol.Datos/obj/Debug
/Pampa.InSol.Entities/bin/Debug
/Pampa.InSol.Entities/obj/Debug
/Pampa.InSol.Infrastructure/bin/Debug
/Pampa.InSol.Infrastructure/obj/Debug
/Pampa.InSol.IoC/bin/Debug
/Pampa.InSol.IoC/obj/Debug
/Pampa.InSol.Mvc/bin
/Pampa.InSol.Mvc/obj/Debug
/Pampa.InSol.Test/obj/Debug
/Pampa.NOMBRE_PROYECTO.Database/obj/Debug
/Pampa.NOMBRE_PROYECTO.Database/bin/Debug
/.vs
/Pampa.InSol.Biz/obj/Release
/Pampa.InSol.Biz.Contratos/obj/Release
/Pampa.InSol.Entities/obj/Release
/Pampa.InSol.Infrastructure/obj/Release
/Pampa.InSol.IoC/obj/Release
/Pampa.InSol.Mvc/App_Data/logs
/Pampa.InSol.Mvc/obj/Release
/Pampa.InSol.Biz/bin/Release
/Pampa.InSol.Biz.Contratos/bin/Release
/Pampa.InSol.Common/bin/Release
/Pampa.InSol.Common/obj/Release/TempPE
/Pampa.InSol.Common/obj/Release
/Pampa.InSol.Dal.Contratos/bin/Release
/Pampa.InSol.Dal.Contratos/obj/Release
/Pampa.InSol.Datos/bin/Release
/Pampa.InSol.Datos/obj/Release
/Pampa.InSol.Entities/bin/Release
/Pampa.InSol.Infrastructure/bin/Release
/Pampa.InSol.IoC/bin/Release
/Pampa.InSol.Mvc/logs
*.bak
