<script id="alertTemplate" type="text/x-kendo-template">
    <div class="notificationStyle alert-notification">
        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>
