<script id="successTemplate" type="text/x-kendo-template">
    <div class="notificationStyle success-notification">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>
