@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Seguimiento IP21";
    Layout = "~/Views/Shared/_LayoutFlatUi.cshtml";
}

<h2>Panel de Control</h2>


<div class="chart-wrapper">
  
</div>