
footer{
    position: absolute;
    bottom: 0;
    background: $second-color;
    width: 100%;
    height: 31px;
    @media (max-width:$screen-mobile-max){
        height: auto;
    }
    .navbar-brand{
        margin: 7px 0 0 0;
        font-size: 18px;
        padding: 0;
        color: white;
        &:hover{
            color: #D8D8D8;
        }
         @media (max-width:$screen-mobile-max){
         margin: 8px 0 0 0;
        }
    }
    span{
        float: right;
        padding-top: 11px;
        color: #fafafa;
        font-size: 12px;
        &.version{
            @media (max-width:$screen-mobile-max){
                padding-top: 0;
                padding-right: 66px;
                clear: left;
                float: left;
            }
            @media (max-width:$screen-md-max){
                padding-right: 15px;
            }
        }
    }
    .scrollToTop{
        padding: 4px;
        text-align: center;
        position: absolute;
        bottom: 2px;
        right: 15px;
        background: #DEDEDE;
        border-radius: 4px;
        float: right;
        display: block;
        &:hover{
            opacity: .8;
        }
         @media (max-width:$screen-mobile-max){
            bottom: 12px;
        }
    }
}

