header{
    background:$first-color;
    position: fixed; 
    width: 100%;
    top: 0;
    z-index: 1030;
    @media (max-width:$screen-mobile-max){
        border: none;
    }
    .container{
        @media (max-width:$screen-mobile-max){
            padding:0;
        }
    }
    .navbar-brand{
        color: #FFF;
        margin: 8px 0;
        border-radius: 2px;
        padding: 8px 0;
        font-size: 22px;
        &:hover{
            color: #F1F1F1;
        }
        @media (max-width:$screen-mobile-max){
            margin-left: 15px!important;
            margin: 8px 0 0 0;
        }
    }
    .navbar-text{
        color: $second-color;
        float:left;
         @media (max-width:$screen-mobile-max){
            padding: 0 15px 0 15px;
            width: 100%;
            border-bottom: 2px solid $first-color;
            margin: 0;
        }
         .fa fa-user{
             font-size:16px;
            @media (max-width:$screen-mobile-max){
                float: left;
                padding-right: 8px;
            }   
         }
    }
    .navbar-toggle{
        border-color: #333333;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        @media (max-width:$screen-mobile-max){
            display: block;
            background: $second-color;
            border: 1px solid $second-color;
            margin-bottom: 0;
            &:hover{
                opacity: .8;
            }
        }
        .icon-bar{
            background-color: #ffffff;
        }
    }
    .navbar{
        margin-bottom: 0;
        border-radius: 0;
        min-height: 31px;
        @media (max-width:$screen-mobile-max){
            display: none;
        }
    }
    .navbar-inverse{
        background-color:$second-color;
        border: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        //border-color:$second-color;
         .navbar-nav > li > a:hover{
            color: $second-color;
         }
          @media (max-width:$screen-sm-min){
             border-top: 2px solid #4A85B1;
        }
    }
}

.navbar-header{
    width:100%;
}