@using Recurso = Pampa.InSol.Common.Recursos.General

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="notificationStyle error-notification">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <h3>@Recurso.Error</h3>
        <p>#= message #</p>
    </div>
</script>
